footer{
  width: 100%;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  border-top: 1px solid rgba(167,167,167,0.2);

  @media (max-width: 376px){
    text-align: center;
  }

  a{
    display: inline-block;
    color: $btn-color;
    font-size: 30px;
    margin-top: 10px;
    margin-right: 15px;

    &:hover{
      color: darken($btn-color, 10%);
    }
  }

  p{
    color: $footer-copy-color;
    text-align: center;
  }
}