.skills {
  .skills-heading {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    h2 {
      line-height: 55px;
      font-size: 40px;
      color: $h1-color;
      letter-spacing: 1px;
      font-weight: 700;
      margin: 0;
    }
  }

  .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 30px;

    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 400px;
      width: 500px;
      text-align: center;
      box-shadow: 2px 2px 20px rgba(90,118,253,0.15);
      border-radius: 10px;
      background-color: $white;
      margin: 20px;
      flex-grow: 1;

      @media (max-width: 525px){
        width: 100%;
      }

      img {
        height: 150px;
        margin: 10px;
      }

      span{
        cursor: default;
        padding: 5px;

        &:hover{
          background-color: $link-hover;
          color: $white;
        }
      }
    }
  }
}
